@using ForumWebApp.ViewModels;
@model ThreadDetailViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>@Model.Title</h1>
<h2>@Model.Description</h2>

<div class="container">
    <label>@Model.NumberOfFollowers</label>
    @if(Model.IsUserLoggedIn)
    {
        if(!Model.IsFollowing)
        {
            <button id = "handleFollowButton" class="btn btn-dark" onclick="onFollowButtonCLick(@Model.Id)">Follow</button>
        }
        else
        {
            <button id = "handleFollowButton"  class="btn btn-dark" onclick="onUnfollowButtonCLick(@Model.Id)">Unfollow</button>
        }
    }
    else
    {
        <a type="button" class="btn btn-dark" asp-action="Login" asp-controller="Account">Follow</a>
    }
</div>


<link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
<div class="container">
    @foreach (var post in Model.Posts)
    {
        <div class="row">
            <!-- End of post 1 -->
            <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                <div class="row align-items-center">
                    <div class="col-md-8 mb-3 mb-sm-0">
                        <h5>
                            <a class="text-primary" asp-controller = "ThreadPost" asp-action="Detail" asp-route-threadId="@Model.Id" asp-route-postId = "@post.Id">@post.Title</a>
                        </h5>
                        <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black dateTimeLabel" href="#"  data-date-diff="@((DateTime.UtcNow - post.CreateAtUtc).TotalMilliseconds)"></a> <span class="op-6">ago by</span> <a class="text-black" href="#">@post.Author?.UserName</a></p>
                    </div>
                </div>
            </div>
            <!-- /End of post 1 -->
        </div>
    }
    <a type="button" class="btn btn-dark" asp-action="Create" asp-controller="ThreadPost" asp-route-threadId="@Model.Id">Create Post</a>
</div>
<script type="text/javascript" src="~/js/forumThread/forumThreadDetail.js"></script>
