@using ForumWebApp.ViewModels;

@model RecentPostsViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach(var periodToPost in Model.RecentPostsByEachPeriod)
{
    if (periodToPost.Item2 != null && periodToPost.Item2.Any())
    {
        <label>@periodToPost.Item1</label>
        foreach (var post in periodToPost.Item2)
        {
            <div class="row">
                <!-- End of post 1 -->
                <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
                    <div class="row align-items-center">
                        <div class="col-md-8 mb-3 mb-sm-0">
                            <h5>
                                <a class="text-primary" asp-controller="ThreadPost" asp-action="Detail" asp-route-threadId="@post.ThreadId" asp-route-postId="@post.Id">@post.Title</a>
                            </h5>
                            <p class="text-sm"><span class="op-6">Posted</span> <a class="text-black dateTimeLabel" href="#" data-date-diff="@(
                    (DateTime.UtcNow - post.CreateAtUtc).TotalMilliseconds
                    )"></a> <span class="op-6">ago by</span> <a class="text-black" href="#">@post.Author?.UserName</a></p>
                        </div>
                    </div>
                </div>
                <!-- /End of post 1 -->
            </div>
        }

    }
}
<script type="text/javascript" src="~/js/utility/formatDateOfCreationForPosts.js"></script>